body {
    background-color: #EEEEEE;
    color: #393E46;
}

a {
    color: #00ADB5;
    text-decoration: none;
    
    
}

h1,h3 {
    color: #00ADB5;
}


hr {
    color: #00ADB5;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 3%
}